---
import Education from '@components/Education.astro';
import Menubar from '../components/Menubar.astro';
import Layout from '../layouts/Layout.astro';
import About from '@components/About.astro';
import Skills from '@components/Skills.astro';
import Projects from '@components/Projects.astro';
import Contact from '@components/Contact.astro';
---

<Layout title="Portfolio">
	<Menubar />
	<main>
		<About />
	</main>
	<Education />
	<Skills />
	<Projects />
	<Contact />
</Layout>