---
import Section from "./Section.astro";
import SocialCard from "./SocialCard.astro";

const socials = [
  {
    label: 'Github',
    imageUrl: '/images/github.svg',
    link: 'https://www.github.com/DarioRv'
  },
  {
    label: 'Linkedin',
    imageUrl: '/images/linkedin.svg',
    link: 'https://www.linkedin.com/in/dariovidal9'
  },
  {
    label: 'Correo',
    imageUrl: '/images/email.png',
    link: 'mailto:dariorvidal.27@gmail'
  },
  {
    label: 'Argentina',
    imageUrl: '/images/pin-de-mapa.png',
    link: 'https://www.google.com/maps/place/argentina'
  }


]
---
<Section title='Sobre mi' ref="about">
  <p>
    Desarrollador <span class="text-red-300">Back-end</span> y estudiante
    de la <span class="text-indigo-300">Facultad de Ingeniería</span>.
    Apasionado por la programación y las tecnologías informáticas.
  </p>

  <div class="flex flex-wrap gap-4 mt-8">
    {socials.map(social => (
      <SocialCard {...social} />
    ))}
  </div>
</Section>