---
import Section from "./Section.astro";
import SocialCard from "./SocialCard.astro";

import { socialNetworks } from "@cv";
---

<Section title="Contacto" imageUrl="/images/telefono.png" ref="contact">
  <p class="mb-5">
    Si querés contactarme, podés hacerlo a través de las siguientes maneras:
  </p>
  <ul class="flex gap-3 flex-wrap">
    {socialNetworks.map(socialLink => <SocialCard {...socialLink} />)}
  </ul>
</Section>
