---
import Section from "./Section.astro";

import { skills } from "@cv";
---

<Section title="Habilidades" imageUrl="/images/codigo.png" ref="skills">
  <div class="flex flex-wrap gap-2 lg:gap-4 justify-center">
    {
      skills.map(skill => (
        <div
          class="bg-[#282828] rounded p-4 flex items-center"
          title={skill.label}
        >
          <img class="h-16" src={skill.icon} alt={skill.label} />
        </div>
      ))
    }
  </div>
</Section>
